#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    height: 100vh;
    border: 1px solid black
  }