#theForm {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    padding: 15px;
    color: white;
    font-size: 14px;
    background: #0546A4;
    margin: 10px;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    #submitButton {
        background-color: #0546A4;
        border: 2px solid white !important;
        color: white;
        margin-top: 15px;
    }
}

.modal-content {
    background: #e9edf1;
}

.form-group {
    margin-bottom: 8px;

    .form-control {
        height: 30px;
    }

    label {
        background: rgba(255, 255, 255, .4);
        padding: 5px;
        border-radius: 5px;
        width: 50%;
    }
}
.modal-backdrop
{
    opacity:0.5 !important;
}
.show {
    display: inline
}


