#hijo {
    padding: 10px;
    margin: 20px;
    border: 3px solid rgb(64, 185, 131);
    width: 30%;
    background: white;

    button {
        background-color: rgb(64, 185, 131);
        color: white;
        width: 50px;
        padding: 5px;
        font-size: 1.2rem;
    }
}